

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

img{
    display: block;
}

#tribute-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    margin: 2rem 0;
}

#title{
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.subtitle{
    font-weight: 300;
    font-size: 1.3rem;
}

#img-div{
    max-width: 65vw;
    height: auto;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
    border-radius: 20px;
    padding: 10px;
}

#image{
    align-items: center;
    align-self: auto;
    text-align: center;
    margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

#img-caption{
    text-align: center;
}

#tribute-info{
    margin: 40px 0;
    padding: 0 40px;
}

.biografy{
    max-width: 75vw;
}

.biografy p{
    margin: 20px 0;
}

.awards{
    margin: 20px 0;
}

.awards ul{
    padding: 30px;
}

a{
    color: #4062bb;
}

.Ruben-img{
    max-width: 65vw;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.img{
    width: 100%;
    border-radius: 20px;
}